<%= render partial: 'spree/admin/users/sidebar', locals: { current: :account } %>
<%= render partial: 'spree/admin/users/user_page_actions' %>

<% content_for :page_title do %>
  <%= @user.email %>
<% end %>

<div data-hook="admin_user_edit_general_settings" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= Spree.t(:general_settings) %>
    </h1>
  </div>

  <div class="panel-body">
    <div data-hook="admin_user_edit_form_header">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @user } %>
    </div>

    <div data-hook="admin_user_edit_form">
      <%= form_for [:admin, @user], as: :user, url: spree.admin_user_url(@user), method: :put do |f| %>
        <%= render partial: 'form', locals: { f: f } %>

        <div data-hook="admin_user_edit_form_button">
          <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: spree.admin_users_url } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="user-confirmation" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= Spree.t('confirmation') %>
    </h1>
  </div>
  <br>
  <div class="panel-body">

    <% unless @user.confirmed? %>
      <%= form_tag spree.confirmate_admin_user_path(@user), method: :put do %>
          <%= button Spree.t('confirmation') %>
      <% end %>
    <% else %>
      <p>Usuario ya confirmado</p>
    <% end %>
    </div>
</div>


<div id="user-info" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= Spree.t('user_info') %>
    </h1>
  </div>
  <br>
  <div class="panel-body">

    <p> <b>Nombre:</b> <%= @user.first_name %> </p>
     <p> <b>Apellido:</b> <%= @user.last_name %> </p>
     <p> <b>Empresa:</b> <%= @user.enterprise %></p>
     <p> <b>Dirección:</b> <%= @user.address %></p>
     <p> <b>Telefono:</b> <%= @user.phone_number %></p>
  </div>
</div>



<%= render 'spree/admin/users/lifetime_stats' %>
