<table class="row header">
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
      </p>
      <% if @order.custom_mail_header.present? %>
        <%= simple_format @order.custom_mail_header %>
      <% end %>
      <%= simple_format Spree::Store.current.confirm_email_header %>
      <p>
        <%= Spree.t('order_mailer.confirm_email.order_summary', number: @order.number) %>
      </p>
      <table class="container">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <%= render collection: @order.line_items, partial: 'spree/shared/custom_mailer_line_item', as: :line_item %>
            </table>
          </td>
        </tr>
      </table>
      <%= simple_format Spree::Store.current.confirm_email_footer %>
    </td>
    <td class="expander"></td>
  </tr>
</table>
