<% combo = combo_aplicado.combo %>

<tr class="line-item">
  <td class="cart-item-image" data-hook="cart_item_image">
    <%= image_tag combo.image, style: "max-height:85px;" %>
  </td>
  <td class="cart-item-description" data-hook="cart_item_description">
    <h4><%= link_to ordenar_combo_url(combo) do
        combo.name 
        end  %>
    </h4>
    <span id="variant_text_line_item">
      <%= nil %>    
   </span>
   <span class="line-item-description" data-hook="line_item_description">
      <%= line_item_description_text(combo.description) %> 
    </span>
  </td>
  <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
    <%= combo_aplicado.quantity %>
  </td>
  <td> </td>
  <% if current_spree_user && current_spree_user.confirmed? %>
    <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
      <%= Spree::Money.new((combo_aplicado.order.line_items.where(combo_aplicado: combo_aplicado).map { |li| li.display_amount.money.fractional}.sum()/100)) %>
    </td>
  <% else %>
    <td></td>
  <% end %>  
  <td class="cart-item-delete">
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-minus-sign'), remove_combo_aplicado_orders_path(combo_aplicado: combo_aplicado.id), method: :delete, class: '' %>
  </td>
</tr>

<tr class="combo-description-link" id="tlink-<%= combo_aplicado.id %>">
  <th >Desplegar detalle de combo </th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
  <th ></th>
</tr>
      <thead class="head-combo-description" style="display:none"  id="thead-<%= combo_aplicado.id %>">
        <tr class="active" >
          <th class="th-combo-description"> Producto </th>
          <% if current_spree_user && current_spree_user.confirmed? %>
            <th class="th-combo-description"><%= Spree.t(:price) %></th>
          <% else %>
            <th> </th>
          <% end %>
          <th class=" th-combo-description" ><%= Spree.t(:description)%></th>
          <th class=" th-combo-description"><%= Spree.t(:qty) %></th>
          <% if current_spree_user && current_spree_user.confirmed? %>
            <th class=" th-combo-description"><%= Spree.t(:total) %></th>
          <% else %>
            <th> </th>
          <% end %>
          <th></th>
          <th></th>
        </tr>
      </thead>     
    <tbody  data-hook style="display:none" class="body-combo-description" id ="tbody-<%= combo_aplicado.id %>">
        <% combo_aplicado.order.line_items.where(combo_aplicado: combo_aplicado).each do |li| %>
          <tr class="line-item ">
            <td class="cart-item-image" data-hook="cart_item_image">
              <% if li.variant.images.length == 0 %>
                <%= link_to small_image(li.variant.product), li.variant.product %>
              <% else %>
                <%= link_to image_tag(li.variant.images.first.attachment.url(:small)), li.variant.product %>
              <% end %>
            </td>
            <% if current_spree_user && current_spree_user.confirmed? %>
              <td class="lead text-primary cart-item-price" data-hook="cart_item_price">
                <%= li.single_money.to_html %>
              </td>
            <% else %>
              <td> </td>
            <% end %>
            <td class="cart-item-description" data-hook="cart_item_description">
              <h4>
                <%= link_to product_path(li.variant.product) do
                  ret=li.variant.product.name  
                  if !li.variant.is_master?
                    ret.concat "- SKU Var: #{li.variant.sku}"
                  end
                  ret
                end  %>
              </h4>
              <span id="variant_text_line_item">
                <%= nil %>    
              </span>
              <span class="line-item-description" data-hook="line_item_description">
                <%= line_item_description_text(li.variant.product.description) %> 
              </span>
            </td>
            <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
              <%= li.quantity %>
            </td>
            <% if current_spree_user && current_spree_user.confirmed? %>
              <td class="lead text-primary cart-item-total" data-hook="cart_item_total">
                <%= li.display_amount.to_html unless li.quantity.nil? %>
              </td>
            <% else %>
              <td> </td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
  </div>
