<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<table class="table" id="cart-detail" data-hook>
  <thead>
    <tr class="active" data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
      <% if current_spree_user && current_spree_user.confirmed? %>
        <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
      <% end %>
      <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <% if current_spree_user && current_spree_user.confirmed? %>
        <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      <% end %>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items.where(combo_aplicado: nil), locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <% if current_spree_user && current_spree_user.confirmed? %> <!-- Atencion, Cuidado, Esto no estoy seguro cuando se displayea, adjustment nose que es -->
        <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
        <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <% end %>

      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>

</table>

<% if (order_form.object.combo_aplicados != nil && !order_form.object.combo_aplicados.empty?) %>
<table class="table" id="cart-detail" data-hook>
  <thead>
    <tr class="active" data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2"><%= Spree.t(:combo) %></th>
      <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <th></th>
      <% if current_spree_user && current_spree_user.confirmed? %>
        <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      <% else %>
        <th > </th>
      <% end %>
      <th></th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'spree/orders/combo_aplicado', collection: order_form.object.combo_aplicados, locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <% if current_spree_user && current_spree_user.confirmed? %> <!-- Atencion, Cuidado, Esto no estoy seguro cuando se displayea, adjustment nose que es -->
        <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
        <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <% end %>

      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>

    <% if current_spree_user && current_spree_user.confirmed? %>
    <tr class="warning cart-total">
      <td colspan="4" align='right'><h5><%= Spree.t(:total) %></h5></td>
      <td class="lead" colspan><%= order_form.object.display_total %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
<% end %>

<script> 

jQuery.fn.extend({
    changeText: function () {
      var t = $(this).text();
 //     console.log(t);
      if (t.indexOf("Desplegar") == -1)
        t = t.replace("Ocultar","Desplegar");
      else
        t = t.replace("Desplegar","Ocultar");
      
      $(this).text(t);
    }
  });

jQuery.fn.extend({
    changeTextOcult: function () {
      var t = $(this).find("th").first().text();
      console.log($(this).find("th").first().text());

      t = t.replace("Ocultar","Desplegar");
      $(this).find("th").first().text(t);
    }
  });

$(".combo-description-link").click(function() {
  var id = $(this).attr('id').replace('tlink', '');
  var bodyId='#tbody'.concat(id);
  var headId='#thead'.concat(id);

  $(".body-combo-description:not(".concat(bodyId).concat(")")).fadeOut();
  $(bodyId).fadeToggle();
  $(".head-combo-description:not(".concat(headId).concat(")")).fadeOut();
  $(headId).fadeToggle();
  $(".combo-description-link").not(this).each( function(t) {
    $(this).changeTextOcult();
  });

  $(this).find("th").first().changeText();
});


</script>