<% content_for :page_title do %>
  Combos
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_combo), new_admin_combo_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_combo' } %>
<% end if can?(:create, Combo) %>

<% content_for :table_filter do %>
  <div data-hook="admin_combos_index_search">
    <%= search_form_for [:admin, @search], url: spree.admin_combos_url do |f| %>
      <div class="form-group">
        <%= f.label Spree.t(:name) %>
        <%= f.text_field :name_cont, class: "form-control js-quick-search-target" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:code) %>
            <%= f.text_field :code_cont, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:category) %>
            <%= f.text_field :category_name_cont, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.check_box :hidden_true %>
            <%= Spree.t(:show_hidden) %>
          </div>
        </div>
      </div>
      <div data-hook="admin_combos_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @collection.any? %>
  <table class="table" id="listing_combos">
    <thead>
      <tr data-hook="admin_combos_index_headers">
        <th><%= sort_link @search,:name, Spree.t(:name), { default_order: "desc" }, {title: 'admin_combos_listing_name_title'} %></th>
        <th><%= Spree.t(:code) %></th>
        <th><%= Spree.t(:productos) %></th>
        <th><%= Spree.t(:categoria) %></th>
        <th><%= Spree.t(:hidden) %></th>

        <th data-hook="admin_combos_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |combo| %>
          <tr <%== "style='color: red;'" if combo.deleted? %> id="<%= spree_dom_id combo %>" data-hook="admin_combos_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="name"><%= combo.name %></td>
            <td class="code"><%= combo.code %></td>
            <td class="code"><%= combo.combo_lines.count %></td>
            <% if !combo.category.nil? %>
              <td class="code"><%= combo.category.name %></td>
            <% else %>
              <td class="code"> - </td>
            <% end %>
            <td class="code"><%= combo.hidden ? 'Verdadero' : 'Falso' %></td>
            <td class="actions actions-3 text-right" data-hook="admin_combos_index_row_actions">
              <%= link_to_edit combo, no_text: true, class: 'edit' if can?(:edit, combo) && !combo.deleted? %>
              <%= link_to clone_combo_admin_combo_path(combo), method: :post, class: 'btn btn-primary with-tip btn-sm', "data-original-title" => 'Clonar' do %>
                <span class="icon icon-clone"></span>
              <% end %>
              <%= link_to_delete combo, no_text: true if can?(:delete, combo) && !combo.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: 'Combos') %>,
    <%= link_to Spree.t(:add_one), new_admin_combo_url %>!
  </div>
<% end %>


<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>


