<% display_percent ||= false %>

<% unless product.has_variants? %>
  <% if product.price > 0 and product.master.volume_prices.present? %>
    <div id="bulk-discount">
      <h6><%= Spree.t(:bulk_discount) %></h6>
      <table class="table">
      	<% product.master.volume_prices.each do |v| %>
        	<%= content_tag(:tr) do %>
            <%= content_tag :td, v.name  %>
          	<%= content_tag :td, Spree::Money.new(v.amount).to_s if v.discount_type == "price" %>
          	<%= content_tag(:td, Spree::Money.new(((1.0 - v.amount) * product.master.price) ).to_s) if (v.discount_type == "percent" || v.discount_type == "dollar") %>
        	<% end %>
      	<% end %>
      </table>
    </div>
  <% end %>
<% else %>
  <% product.variants.each do |v| %>
    <% if v.volume_prices.present? %>
      <div class="variant-table-prices" id="variant-table-<%= v.id  %>" style="display:none">
        <h6><%= Spree.t(:bulk_discount) %> para <b> <%= variant_options v %></b> </h6>
        <table class="table">
          <% v.volume_prices.each do |p| %>
            <%= content_tag(:tr) do %>
              <%= content_tag :td, p.name  %>
              <%= content_tag :td, Spree::Money.new(p.amount).to_s if p.discount_type == "price" %>
              <%= content_tag(:td, Spree::Money.new(((1.0 - p.amount) * v.price) ).to_s) if (p.discount_type == "percent" || p.discount_type == "dollar") %>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>