<% @body_id = 'product-details' %>

  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center" style="height:270px;">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) %><br>
            Código: <b><%= @product.master.sku %></b>
          </div>

          <% if current_spree_user && current_spree_user.confirmed? %>
            <%= render partial: 'spree/products/volume_pricing', locals: { product: @product } %>
          <% end %>
          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
            <%= render :partial => 'spree/products/files' , :locals => {product: @product} %>      
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
          <%= render :partial => 'taxons' %>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
            <%= render :partial => 'spree/products/videos' , :locals => {product: @product} %>
    </div>
  </div>


<script>
// Esto va en la home tambien porque se usa la misma logica para acomodar las img
$(document).ready(function() {
    $("img[itemprop='image']").each(function() {
        // Calculate aspect ratio and store it in HTML data- attribute
        var aspectRatio = $(this).width()/$(this).height();
        
        var pic_real_width = $(this)[0].naturalWidth;

        console.log(pic_real_width);
        // Conditional statement
        if(aspectRatio > 2) {
            // Image is landscape
            $(this).prev(".image-helper").css({display:"inline-block"});
            $(this).css({ "margin-left"  : "-0.5em"});
        }
        if (pic_real_width < 100) { //Si es una imagen chica pongo el span y no la resiseo
            $(this).prev(".image-helper").css({display:"inline-block"});
            $(this).css({ "width"  : "auto"});            
        }
    });
});
</script>