<h1 class="taxon-title"><%= @taxon.name %></h1>
<hr>
<div class="row">
<%= link_to(image_tag(@taxon.icon(:normal), style: "float:left; margin-left:1em; margin-right:2em;"), seo_url(@taxon)) unless
@taxon.icon_file_name.nil? %>
<p style=" margin-left:1em; font-size:0.9em"> <%= @taxon.description %> </p>
</div>
<hr>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>
