<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :files } %>

<% content_for :page_actions do %>
  <%= button_link_to(Spree.t(:new_file), spree.admin_product_files_new_path(@product), { class: "btn-success", icon: 'add', id: 'new_file_link' }) %>
<% end %>



    <table class="table sortable" data-hook="files_table">
      <thead>
        <tr data-hook="files_header">
          <th class="move-handle text-center" >
            <%= Spree.t(:thumbnail) %>
          </th>
          <th>
            <%= Spree::Variant.model_name.human %>
          </th>
          <th>
            <%= Spree.t(:alt_text) %>
          </th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @variants.each do |v| %>
          <% if v.file.present? %>
            <tr data-hook="files_row">
              <td class="move-handle text-center">
                <%= link_to "Download PDF",spree.admin_product_download_product_file_path(@product,v) %>
              </td>
              <td >
                <%= variant_options v %>
              </td>
              <td>
                  <%= v.file_alt %>
              </td>
              <td class="actions actions-2 text-right">
                <%= link_to_delete(v.id, { url: spree.admin_product_delete_product_file_path(@product, v.id), no_text: true }) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>