<%= form_tag populate_combos_orders_path, id: "form-combo" do %>
  <%= hidden_field_tag :combo_order, @combo_order ? true : false %>
  <% @combos_y_cantidades.each do |combo_y_cantidad| %>
    <%= hidden_field_tag "combos[#{combo_y_cantidad[:random_id]}][quantity]", combo_y_cantidad[:quantity] %>
    <%= hidden_field_tag "combos[#{combo_y_cantidad[:random_id]}][combo_id]", combo_y_cantidad[:combo].id %>
    <% combo_y_cantidad[:combo].combo_lines.each do |combo_line| %>
      <% if combo_line.taxon.present? %>
        <%= render partial: 'taxon',
          locals: { combo_line: combo_line, combo_y_cantidad: combo_y_cantidad} %>

      <% elsif combo_line.product.present? && combo_line.product.can_supply? %>
        <% if combo_line.product.has_variants? %>
          <h3> <%= pluralize(combo_y_cantidad[:quantity] * combo_line.quantity,"unidad","unidades") %> del producto <b><%= combo_line.product.name %></b></h3>
          <%= render partial: "producto_con_variantes",
            locals: {combo_line: combo_line, combo_y_cantidad: combo_y_cantidad } %>
            <%# locals: { product: combo_line.product, combo_line: combo_line, combo_y_cantidad: combo_y_cantidad } %>

        <% else %>
          <h3> <%= pluralize(combo_y_cantidad[:quantity] * combo_line.quantity,"unidad","unidades") %> del producto <b><%= combo_line.product.name %></b></h3>
          <%= render partial: "producto_sin_variantes",
            locals: {combo_line: combo_line, combo_y_cantidad: combo_y_cantidad } %>
            <%# locals: { product: combo_line.product, combo_line: combo_line, combo_y_cantidad: combo_y_cantidad } %>

        <% end %>
      <% else %>
        <h3 style="color: red"><b><%= combo_line.product.name %></b> sin stock </h3>
      <% end %>
    <% end %>
  <% end %>
 <br>
 <br>
 <%= submit_tag "Continuar" , class: "btn btn-success" %>
<% end %>  
