<tr>
	<td>
		<%= link_to ordenar_combo_url(combo) do %>
			<%= image_tag combo.image, style: "max-width:15em; float:left" %>
		<% end %>
	</td>
	<td style="padding-left:1em;">
		<%= link_to ordenar_combo_url(combo) do %>
			<%= combo.name %><br>
			<%= combo.description %>
		<% end %>
	</td>	
</tr>
