<% accordion_id = rand(1000000000000) %>

<h3><%= pluralize(combo_line.quantity,"unidad","unidades") %> de la categoría <b><%= combo_line.taxon.name %></b></h3>

<div id="accordion-<%= accordion_id %>">
  <a class="list-group-item" data-toggle="collapse" data-parent="accordion-<%= accordion_id %>" href="#<%= accordion_id %>" style="padding:0 ; border:0;">
    <p class="combo-instruction"> Seleccione productos y cantidades para la categoría (Deben sumar <b><%= combo_line.quantity %></b>)     
      <span class="status_label"></span>
    </p>
  </a>

  <div id="<%= accordion_id %>" class="list-group panel-collapse accordion-body collapse accordion-category">
    <p style="font-size: 1em;"> Disponible: 
      <span class="available_quantity_label">
        <%= combo_line.quantity %>
      </span>
    </p>
    <% combo_line.taxon.all_children.each do |product| %> 
                <%#= render partial: :product_combo, locals: {product: product, combo_line: combo_line} %>
      <% if product.can_supply? %>
        <% if product.has_variants? %>
          <%= render partial: "taxon_producto_con_variantes", locals: {product: product, combo_line: combo_line, combo_random_id: combo_random_id} %>

        <% else %>
          <%= render partial: "taxon_producto_sin_variantes", locals: {product: product, combo_line: combo_line, combo_random_id: combo_random_id} %>

        <% end %>
      <% else %>
        <span style="color:red"> &nbsp; - Producto sin stock </span>

      <% end %>
    <% end %>
  </div>
</div>
