<%= form_tag register_ml_combo_orders_path, id: "form-combo" do %>
    <p style=" font-size: 1em;"> <%= Spree.t(:instrucciones_ml_combo) %>  </p>
    <%= text_field_tag :"ml_user", nil, class: 'form-control ', style:"width:400px; height: 2em; ", placeholder: "Usuario ML" %>
    <br>
    <%= hidden_field_tag :combo_id, @combo.id %>

    <%= submit_tag "Continuar" , class: "btn btn-success" %>
<% end %>  
