<%= form_for @message, url: spree.messages_path do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="field">
        <%= f.label :name, "Nombre y Apellido *" %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :tel, "Teléfono *" %><br>
        <%= f.text_field :tel %>
      </div>

      <div class="field">
        <%= f.label :email, "E-Mail *" %><br>
        <%= f.email_field :email %>
      </div>



      <div class="field">
        <%= f.label :enterprise, "Empresa" %><br>
        <%= f.text_field :enterprise %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      
      <div class="field">
        <%= f.label :subject ,"Asunto" %><br>
        <label class="label-select" style="width:200px; font:7px; height:30px">
          <%= f.select :subject , ["Stock y Reposición","Envios y Despachos","Asistencia Técnica",
                                "Consulta General"], {},{:style => "width:200px;height:30px"} %>
        </label>
      </div>

      <div class="field">
        <%= f.label :content, "Mensaje *" %><br>
        <%= f.text_area :content,  size: "30x5" %>
      </div>

      <div class="actions">
        <%= f.submit 'ENVIAR', class: 'btn btn-primary boton-contacto', id: 'submit-contact' %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $('#message_name').val('');
  $('#message_email').val('');
  $('#message_content').val('');
});
</script>