<tr>
  <td class="six sub-columns">
    <strong>
      <%= link_to raw(line_item.variant.product.name), spree.product_url(line_item.variant.product) %>
    </strong>
    <%= raw(line_item.variant.options_text) -%>
    (<%= line_item.variant.sku %>)
  </td>
    <td class="six sub-columns last right">
       <% price_item = ((line_item.display_price.money.fractional.to_i / 100.00) - (line_item.bonification * (line_item.display_price.money.fractional.to_i / 100.00) / 100.00 )) %>
       <%= line_item.quantity %> x <%= Spree::Money.new((line_item.display_price.money.fractional.to_i / 100.00) ).to_s %> 
       <% if (line_item.bonification > 0) %>
        (Bonif. <%=  line_item.bonification %> %)
       <% end %>
        = <%= Spree::Money.new(price_item * line_item.quantity).to_s %>
    </td>

</tr>
