<nav class="" style="">
  <div id="main-nav-bar" class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:0; padding-right:0;">
      <ul class="nav navbar-nav"  data-hook>
        <li id="home-link" data-hook><%= link_to "PRODUCTOS", spree.products_path, class: "#{'active' if (params[:controller] == 'spree/products' || params[:controller] == 'spree/taxons')}" %></li>
        <li><%= link_to "NOSOTROS", spree.about_us_path, class: "#{'active' if (params[:controller] == 'spree/home') && (params[:action] == 'about_us')}" %></li>
        <li><%= link_to "COMBOS", spree.combos_path , class: "#{'active' if (params[:controller] == 'spree/combos' || params[:controller] == 'spree/categories') && (params[:action] != 'mercado_libre')}"%></li>
        <li><%= link_to "MERCADO LIBRE", spree.mercado_libre_path, class: "#{'active' if (params[:controller] == 'spree/combos') && (params[:action] == 'mercado_libre')}" %></li>
        <li><%= link_to "DESCARGAS", spree.descargas_path, class:  "#{'active' if (params[:controller] == 'spree/home') && (params[:action] == 'descargas')}" %></li>
        <li><%= link_to "CONTACTO", spree.contact_path , class: "#{'active' if (params[:controller] == 'spree/home') && (params[:action] == 'contact')}"%></li>
        <li><%= link_to "AYUDA", spree.help_path, class:  "#{'active' if (params[:controller] == 'spree/home') && (params[:action] == 'help')}" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"  style="padding-right:1em" data-hook>
        <%= render "spree/shared/login_bar" %>
        <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
          </noscript>
          &nbsp;
        </li>
        <script>Spree.fetch_cart()</script>
      </ul>
    </div>
  </div>
</nav>
