<nav class="col-md-12" style="padding-left:0; padding-right:0;">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li><%= link_to "Combos", spree.combos_path %></li>
      <li><%= link_to "Contacto", spree.contact_path %></li>
      <li><%= link_to "Sobre Nosotros", spree.about_us_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right"  style="padding-right:1em" data-hook>
      <%= render "spree/shared/login_bar" %>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
