<div class="col-md-6 col-sm-6 text-right">
  <div class="row">
    <div class="col-sm-12">
      <span style="margin-right:1em;">
        <%= image_tag "facebook-icon.png", style: "width:2.7em;" %>
      </span>
      <span style="margin-right:1em;">
        <%= image_tag "whatsapp-icon.png", style: "width:2.5em;" %>
      </span>
      <span style="margin-right:1em;">
        <%= image_tag "youtube-icon.png", style: "width:2.7em;" %>
      </span>
      <span style="margin-right:1em;">
        <%= image_tag "gplus-icon.png", style: "width:2.5em;" %>
      </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <%= render :partial => 'spree/shared/search' %>
    </div>
  </div>
</div>
