
          <span style="margin-right:1em;">
            <%= link_to "https://www.facebook.com/AGC-108599966315819/", target: '_blank' do %>
              <%= image_tag "facebook-icon.png", style: "width:2.7em;" %>
            <% end %>
          </span>
          <span style="margin-right:1em;">
            <%#= link_to "intent://send/5491160510878#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" do %>
              <%= image_tag "whatsapp-icon.png", style: "width:2.7em;" %>
            <%# end %>
          </span>
          <span style="margin-right:1em;">
            <%= link_to "https://www.youtube.com/channel/UCrGQIFiAEmNXz3W9SonAodA", target: '_blank' do %>
              <%= image_tag "youtube-icon.png", style: "width:2.7em;" %>
            <% end %>
          </span>
          <span style="margin-right:1em;">
            <%= link_to "https://plus.google.com/u/0/111759387253482121900", target: '_blank' do %>
              <%= image_tag "gplus-icon.png", style: "width:2.5em;" %>
            <% end %>
          </span>

