<fieldset id="password-credentials">
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :enterprise %>
    <%= f.text_field :enterprise, :class => 'form-control' %>
  </div>

  <hr />
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div> 
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div> 
</fieldset>
<div data-hook="signup_below_password_fields"></div>