<% self.title = "Sobre Nosotros" %>

<div class="text-center" style="font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; "> 
<h4 >
Somos una empresa que, desde <b>1987</b>, trabaja en el gremio de <b>recreativos</b>, f치bricando productos para el mismo.
</h4>

<div class="row">
  <div class="col-sm-4 col-md-4">
    <%= image_tag "about-1.jpg", class: "about-image-top", style: "float:left;", alt: "botones arcade" %>
    <%= image_tag "about-3.jpg", class: "about-image-bot", style: "float:left;", alt: "palancas arcade" %>
  </div>
  <div class="col-sm-4 col-md-4">
    <p style="font-size:0.8em ">

    Nos dedicamos a la fabricaci칩n y venta de repuestos y accesorios para:<br>
     <p class="about-tokens">Video Juegos</p>
     <p class="about-tokens">M치quinas de Manejo</p>
     <p class="about-tokens">Flippers</p>
     <p class="about-tokens">Metegoles</p>
     <p class="about-tokens">Pooles </p>

    Atendemos durante todo el a침o y no cerramos por vacaciones. 
  </div>
  <div class="col-sm-4 col-md-4">
    <%= image_tag "about-2.jpg", class: "about-image-top", style: "float:right;", alt: "botones arcade" %>
    <%= image_tag "about-4.jpg", class: "about-image-bot", style: "float:right;", alt: "ficheros arcade"  %>
  </div>
</div>

<div class="row">
<p class="text-center">
  <%= link_to  spree.contact_path do %>
    <button class="btn btn-primary boton-contacto " > CONTACTANOS </button>
  <% end %>
</p>
</div>
</p>