
<h1> Decargas </h1>

<%= link_to spree.download_static_file_path("B3") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar Hoja Técnica B3.pdf" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("C2") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar Hoja Técnica C2.pdf" %>
<%end%>
<br>

<%= link_to spree.download_static_file_path("catalogo B3-L y LE") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar catalogo B3-L y LE.pdf" %>
<%end%>
<br>

<%= link_to spree.download_static_file_path("catalogo crane") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar catalogo crane.pdf" %>
<%end%>
<br>

<%= link_to spree.download_static_file_path("Tejo") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar Tejo.pdf" %>
<%end%>
<br>

<%= link_to spree.download_static_file_path("TODOS LOS MODELOS") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Descargar TODOS LOS MODELOS.pdf" %>
<%end%>
