
<h1> Decargas </h1>

<%= link_to spree.download_static_file_path("B3") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Hoja Técnica B3" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("C1") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Hoja Técnica C1" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("C2") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Hoja Técnica C2" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("catalogo B3-L y LE") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "catalogo B3-L y LE" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("B3-L y LE") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "B3-L y LE" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("catalogo crane") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "catalogo crane" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("Tejo") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "catalogo Tejo" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("TODOS LOS MODELOS") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "TODOS LOS MODELOS" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("etiquetas para B3-L y LE") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "etiquetas para B3-L y LE" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("Interfaz USB mini") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Interfaz USB mini" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("Interfaz USB PS3") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Interfaz USB PS3" %>
<%end%>

<br>
<%= link_to spree.download_static_file_path("Interfaz USB Puzzle Plus Flyer") do%>
  <%= image_tag "pdf-icon.png", style:"width:2em" %>
<%= "Interfaz USB Puzzle Plus Flyer" %>
<%end%>





